# See: https://v3.nuxtjs.org/guide/going-further/runtime-config/

# i18n
# Configuration of `@nuxtjs/i18n`
CONFIG_DEFAULT_LOCALE="en"
CONFIG_FALLBACK_LOCALE="en"

# Application Mode - `app` or `webgl` or...
# `app` - Mixes UI and WebGL
# `webgl` - Can be used to isolate WebGL and remove UI
NUXT_PUBLIC_MODE="app"

# Preview Mode
# Can be used to hide features on production but enable them on the staging.
# It has nothing to do with the preview mode of a CMS.
NUXT_PUBLIC_PREVIEW=true

# Public Path
# Public path for assets delivery
NUXT_PUBLIC_PUBLIC_PATH="http://localhost:3000/"



