# See: https://nuxtjs.org/docs/directory-structure/nuxt-config#runtimeconfig

# i18n
# Configuration of `@nuxtjs/i18n`
APP_DEFAULT_LOCALE="en"
APP_FALLBACK_LOCALE="en"

# Application Mode - `app` or `webgl` or...
# `app` - Mixes UI and WebGL
# `webgl` - Can be used to isolate WebGL and remove UI
APP_MODE="app"

# Preview Mode
# Can be used to hide features on production but enable them on the staging.
# It has nothing to do with the preview mode of a CMS.
APP_PREVIEW="true"

# Public Path
# Public path for assets delivery
PUBLIC_PATH="http://localhost:3000/"

# Server Port
# Local Server Port
SERVER_PORT="3000"



