# Dependencies
/node_modules

# Testing
/coverage

# Nuxt
**/.nuxt
**/.output
**/out

# Build
**/dist
**/build

# Misc
.DS_Store

# Logs
*.log

# Local `env` Files
# .env
.env.test
.env.local
.env.*.local
.env.production
.env.development

# IDEs
/.idea
/.vscode

# Vercel
.vercel

# Samples
# sample.*
