# Nuxt
/.nuxt
/out

# Build
/dist
/build

# Front-End
public/**/*.ts
public/**/*.js
public/**/*.jsx
public/**/*.cjs
public/**/*.mjs
public/**/*.vue

src/glxp/**/*.ts
src/glxp/**/*.js
src/glxp/**/*.jsx
src/glxp/**/*.cjs
src/glxp/**/*.mjs
src/glxp/**/*.vue

src/vendors/**/*.ts
src/vendors/**/*.js
src/vendors/**/*.jsx
src/vendors/**/*.cjs
src/vendors/**/*.mjs
src/vendors/**/*.vue
