# Nuxt
/.nuxt
/.output
/out

# Build
/dist
/build

# Front-End
public/**/*.ts
public/**/*.js
public/**/*.tsx
public/**/*.jsx
public/**/*.vue

glxp/**/*.ts
glxp/**/*.js
glxp/**/*.tsx
glxp/**/*.jsx
glxp/**/*.vue

vendors/**/*.ts
vendors/**/*.js
vendors/**/*.tsx
vendors/**/*.jsx
vendors/**/*.vue

# Utilities
utils/helpers/**/*.ts
utils/helpers/**/*.js
