// Color Palettes
// -----------------------------------------------------------------------------
$brand-black: #000;
$brand-white: #fff;

// Indexes
// -----------------------------------------------------------------------------
$z-layers: (
  base: 1,
  under-base: -1,
  above-base: 2,
);

// Fonts Variables
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 1;

$fallback-font-serif: 'Times New Roman', 'Georgia', serif;
$fallback-font-sans-serif: 'Helvetica', 'Arial', sans-serif;

// Grid System Settings
// -----------------------------------------------------------------------------
$config: (
  // only put a new breakpoint in here if it has different grid settings
  xxxs: (
    grid-size: calc(100vw - 48px),
    grid-edge: 24px,
    grid-gutter: 16px,
    grid-columns: 6,
  ),
  l: (
    grid-size: calc(100vw - 40px),
    grid-edge: 20px,
    grid-gutter: 20px,
    grid-columns: 12,
  ),
  xxxl: (
    grid-size: 1824px, // 1920px - 48px - 48px
    grid-edge: 48px,
    grid-gutter: 24px,
    grid-columns: 12,
  ),
);

// Random Variables
// -----------------------------------------------------------------------------
$PI: 3.1415926536;
